.container {
    display: flex;
    max-width: 350px;
    border: 5px solid black;
}

.item {
    background-color: blueviolet;
    margin: 5px;
    color: white;
    text-align: center;
}

.center {
    align-items: center;
}

.flex {
    flex: 1;
}

.stretch {
    align-items: stretch;
}

.flex-start {
    align-items: flex-start;
}

.flex-end {
    align-items: end;
}

.baseline {
    align-items: baseline;
}

.column {
    flex-direction: column;
}

.central {
    height: 300px;
    justify-content: center;
}

.central .item {
    flex: 0;
    padding: 20px;
}